.circular-gauge {
  position: relative;
  display: inline-block;
}
.circular-gauge svg { display: block; }
.circular-gauge .gauge-bg {
  stroke: #f3f4f6; /* light gray */
}
.circular-gauge .gauge-fill {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circular-gauge .gauge-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: #111827;
}
