.streak-page {
  padding: 50px;
  color: #fff;
  background: #121122;
  font-family: "Space Grotesk", sans-serif;
  margin-left: 40px;
}

.page-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 32px;
}

.streak-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .right-section {
    @extend .left-section;
  }
}

.card {
  background: #1a1832;
  border: 1px solid #262348;
  padding: 24px;
  border-radius: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 5px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
}

.card-streak {
  color: #3b2bee;
  font-size: 26px;
  font-weight: 900;
}

.progress-bar {
  background: #373267;
  height: 10px;
  border-radius: 50px;
  width: 100%;
}
.progress-fill {
  height: 100%;
  background: #3b2bee;
  border-radius: 50px;
}

.card-sub {
  margin-top: 12px;
  color: #9692c9;
  font-size: 14px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.section-sub {
  color: #9692c9;
  font-size: 13px;
  margin-bottom: 12px;
}

.rewards-grid {
  display: grid;
  gap: 12px;
}

.reward-row {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
  background: #26234880;
  border: 1px solid #373267;
  gap: 16px;
}

.reward-row.active {
  background: rgba(59, 43, 238, 0.2);
  border-color: #3b2bee;
  box-shadow: 0 0 0 2px rgba(59, 43, 238, 0.5);
}

.reward-range {
  font-weight: 700;
  font-size: 16px;
}

.reward-desc {
  color: #9692c9;
  font-size: 14px;
}

.reward-img {
  width: 64px;
  height: 64px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.faq {
  background: #1a1832;
  border: 1px solid #373267;
  border-radius: 12px;
  padding: 12px 18px;
  margin-top: 12px;

  summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
    padding: 8px 0;

    .material-symbols-outlined {
      transition: 0.2s;
      align-content: center;
    }
  }

  &[open] summary .material-symbols-outlined {
    transform: rotate(180deg);
  }

  .faq-text {
    margin-top: 6px;
    color: #9692c9;
    font-size: 14px;
  }
}

.reset-time {
  font-size: 26px;
  font-weight: 900;
  color: #3b2bee;
  margin: 4px 0;
}

.milestones-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.milestone-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.milestone-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-symbols-outlined {
    font-size: 32px;
  }
}

.unlocked .milestone-icon {
  background: rgba(59, 43, 238, 0.2);
  color: #3b2bee;
}

.locked .milestone-icon {
  background: #373267;
  color: #9692c9;
}

.milestone-title {
  font-weight: 600;
  margin: 0;
}

.milestone-status {
  font-size: 14px;
  color: #9692c9;
  margin: 0;
}
