.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;

  &.fullscreen {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(4px);
    z-index: 2000;
  }
}

.loader-spinner {
  color: #3b2bee !important;
}

.loader-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
